<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>北京国际摄影周</title>

  <link href="{CSS_PATH}syz/css/clear.css" rel="stylesheet">
  <link href="{CSS_PATH}syz/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{CSS_PATH}syz/css/syzStyle.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{CSS_PATH}syz/bootstrap/js/html5shiv.min.js"></script>
  <script src="{CSS_PATH}syz/bootstrap/js/respond.min.js"></script>
  <![endif]-->
  </head>
<body>
<!-- 全屏 -->
<div class="Fullscreen">

<!-- nav -->
<div class="ms-sl-navBox">
  <ul class="Nav clearfix">
    <li class="one">
      <div class="column">
        <a class="link" href="javascript:void(0);">首页</a>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link status" href="javascript:void(0);">开幕活动</a>
        <div class="subnav-b clearfix">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">系列展览</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">摄影讲堂</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">摄影市场</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">特约活动</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">分会场</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">新闻公告</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">关于</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div class="column">
        <a class="link" href="javascript:void(0);">联络</a>
        <div class="subnav-b">
          <ul class="subnav clearfix"">
            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
            <li><a href="javascript:void(0);">大事记</a><label></label></li>
            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- main -->
<div class="sl-tjpt">
  <!-- 页头导航3 -->
  <div class="sl-header3"> 
    <div class="header3 clearfix">
      <!-- 移动端 导航按钮 -->
      <div class="sm-nav-btn clearfix">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <!-- logo 语言 -->
      <div class="logoBox">
        <a href="javascript:void(0);"><img class="logo" src="{IMG_PATH}syz/images/sl_show_logo.jpg"></a>
        <a class="language" href="javascript:void(0);">EN</a>
      </div>
      <!-- 搜索 -->
      <div class="search">
        <a class="search-btn" href="javascript:void(0);"><img src="{IMG_PATH}syz/images/sl_bjgjsyz_search.png"></a>
        <input type="" name="" placeholder="搜索...">
      </div>
      <!-- 注册 登录 -->
      <div class="register">
        <div class="register-on"></div>
          <div class="register-off">
            <img src="{IMG_PATH}syz/images/sl_show_dl.png">
            <a href="javascript:void(0);">注册</a>&nbsp;/&nbsp;<a href="javascript:void(0);">登录</a>
          </div>
      </div>
      <!-- 导航 -->
      <div class="navBox">
        <ul class="Nav clearfix">
          <li class="one">
            <div class="column">
              <a class="link" href="javascript:void(0);">首页</a>
            </div>
          </li>
          <li class="status">
            <div class="column">
              <a class="link" href="javascript:void(0);">开幕活动</a>
              <div class="subnav-b">
                <ul class="subnav clearfix">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">系列展览</a>
              <div class="subnav-b">
                <ul class="subnav clearfix">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">摄影讲堂</a>
              <div class="subnav-b">
                <ul class="subnav clearfix"">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">摄影市场</a>
              <div class="subnav-b">
                <ul class="subnav clearfix"">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">特约活动</a>
              <div class="subnav-b">
                <ul class="subnav clearfix"">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">分会场</a>
              <div class="subnav-b">
                <ul class="subnav clearfix"">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">新闻公告</a>
              <div class="subnav-b">
                <ul class="subnav clearfix"">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">关于</a>
              <div class="subnav-b">
                <ul class="subnav clearfix"">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="column">
              <a class="link" href="javascript:void(0);">联络</a>
              <div class="subnav-b">
                <ul class="subnav clearfix"">
                  <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                  <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                  <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                  <li><a href="javascript:void(0);">大事记</a><label></label></li>
                  <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                  <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 中心主要内容 -->
  <div class="sl-tjpt-main clearfix">
    <!-- middle right footer3 -->
    <div class="sl-tjpt-rightBox">
      <!-- middle -->
      <div class="sl-tjpt-middle">
        <!-- 专题影展 -->
        <div class="special">
          <div class="">
            <ul class="clearfix">
              <li class="zysy">
                <a class="link" href="javascript:void(0);">
                  <div class="ico"><img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_11.png"></div>
                  <h5 class="tit-h5">专业摄影</h5>
                  <p class="tit-eg">PROFESSIONAL</p>
                </a>
              </li>
              <li class="ggwh">
                <a class="link" href="javascript:void(0);">
                  <div class="ico"><img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_03.png"></div>
                  <h5 class="tit-h5">公共文化</h5>
                  <p class="tit-eg">PUBLIC</p>
                </a>
              </li>
              <li class="gjyx">
                <a class="link" href="javascript:void(0);">
                  <div class="ico"><img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_05.png"></div>
                  <h5 class="tit-h5">国际影像</h5>
                  <p class="tit-eg">INTERNATIONAL</p>
                </a>
              </li>
              <li class="dgys">
                <a class="link" href="javascript:void(0);">
                  <div class="ico"><img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_08.png"></div>
                  <h5 class="tit-h5">大众艺术</h5>
                  <p class="tit-eg">POPULAR</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 专题征集、供稿 -->
        <div class="Solicitation ms-Solicitation">
          <ul class="clearfix">
            <li>
              <div class="item clearfix">
                <a href="javascript:void(0);">
                  <img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_zt.png">
                  <h5 class="tit-h5">专题征集</h5>
                </a>
              </div>
            </li>
            <li>
              <div class="item clearfix">
                <a href="javascript:void(0);">
                  <img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_gg.png">
                  <h5 class="tit-h5">供稿通道</h5>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <!-- 服务 -->
        <div class="service">
          <div class="">
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <div class="wmdln item clearfix">
                    <img src="{IMG_PATH}syz/images/sl-bjgjsyz-img_03.jpg">
                    <div class="txtBox">
                      <div class="txt-i">
                        <h5 class="tit-h5">我们的理念</h5>
                        <p class="tit-eg">OUR IDEA</p>
                      </div>
                      <label class="t-l"></label>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <div class="fwjnr item clearfix">
                    <img src="{IMG_PATH}syz/images/sl-bjgjsyz-img_06.jpg">
                    <div class="txtBox">
                      <div class="txt-i">
                        <h5 class="tit-h5">服务及内容</h5>
                        <p class="tit-eg">SERVICES AND CONTENT</p>
                      </div>
                      <label class="t-l"></label>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <div class="lccz item clearfix">
                    <img src="{IMG_PATH}syz/images/sl-bjgjsyz-img_08.jpg">
                    <div class="txtBox">
                      <div class="txt-i">
                        <h5 class="tit-h5">操作流程</h5>
                        <p class="tit-eg">OPERATING PROCESS</p>
                      </div>
                      <label class="t-l"></label>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- right -->
      <div class="sl-tjpt-right">
        <!-- 专题征集、供稿 -->
        <div class="Solicitation pc-Solicitation">
          <ul class="clearfix">
            <li>
              <div class="item clearfix">
                <a href="javascript:void(0);">
                  <img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_zt.png">
                  <h5 class="tit-h5">专题征集</h5>
                </a>
              </div>
            </li>
            <li>
              <div class="item clearfix">
                <a href="javascript:void(0);">
                  <img src="{IMG_PATH}syz/images/sl-bjgjsyz-ico_gg.png">
                  <h5 class="tit-h5">供稿通道</h5>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <!-- 会员 -->
        <div class="member">
          <div class="member-i">
            <h5 class="tit-h5">会员机构</h5>
            <p class="tit-eg"><span>MEMBERS</span><label class="auxiliary"></label></p>
            <div class="ulBox clearfix">
              <ul class="clearfix">
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 页脚3 -->
      <div class="sl-footer3 pc-footer3">
        <p class="copyright">Copyright © 2016 北京国际摄影周组委会办公室 <span>All Right Reserved.</span></p>
      </div>
    </div>
    <!-- left -->
    <div class="sl-tjpt-left">
      <!-- 往期回顾 -->
      <div class="past">
        <h4 class="tit-h4">往期回顾<span>REVIEW</span></h4>
        <ul class="clearfix">
          <li><a href="javascript:void(0);">2016</a><span>/</span></li>
          <li><a href="javascript:void(0);">2015</a><span>/</span></li>
          <li><a href="javascript:void(0);">2014</a><span>/</span></li>
          <li><a href="javascript:void(0);">2013</a></li>
        </ul>
      </div>
      <!-- 单位 -->
      <div class="company">
        <!-- 主办单位 -->
        <div class="item">
          <h6 class="tit-h6">主办单位</h6>
          <ul class="clearfix">
            <li><a href="javascript:void(0);">中华人民共和国文化部</a></li>
            <li><a href="javascript:void(0);">北京市人民政府</a></li>
          </ul>
        </div>
        <!-- 承办单位 -->
        <div class="item">
          <h6 class="tit-h6">承办单位</h6>
          <ul class="clearfix">
            <li><a href="javascript:void(0);">中国艺术摄影学会</a></li>
            <li><a href="javascript:void(0);">中国摄影家协会</a></li>
            <li><a href="javascript:void(0);">中国摄影家协会</a></li>
            <li><a href="javascript:void(0);">新华通讯社图片中心</a></li>
            <li><a href="javascript:void(0);">北京歌华文化发展集团</a></li>
          </ul>
        </div>
        <!-- 执行单位 -->
        <div class="item">
          <h6 class="tit-h6">执行单位</h6>
          <ul class="clearfix">
            <li><a href="javascript:void(0);">中华世纪坛艺术馆</a></li>
          </ul>
        </div>
        <!-- 二维码 -->
        <div class="item code">
          <ul class="clearfix">
            <li>
              <img src="{IMG_PATH}syz/images/sl-bjgjsyz-wx.jpg">
              <p><img src="{IMG_PATH}syz/images/sl-bjgjsyz-icowx.png">关注微信</p>
            </li>
            <li>
              <img src="{IMG_PATH}syz/images/sl-bjgjsyz-xl.jpg">
              <p><img src="{IMG_PATH}syz/images/sl-bjgjsyz-icoxl.png">关注微博</p>
            </li>
          </ul>
        </div>
        <!-- 联络信息 -->
        <div class="item contact">
          <h6 class="tit-h6">联络信息</h6>
          <ul class="clearfix">
            <li>地址：<span>北京市海淀区复兴路甲9号</span></li>
            <li>电话：<span>（+86）10-59802222</span></li>
            <li>传真：<span>（+86）10-59802095</span></li>
            <li>邮箱：<span>photobeijing@gehua.com</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 页脚3 -->
  <div class="sl-footer3 ms-footer3">
    <p class="copyright">Copyright © 2016 北京国际摄影周组委会办公室 <span>All Right Reserved.</span></p>
  </div>
</div>

</div>
<!-- 全屏end -->
<script type="text/javascript" src="{JS_PATH}syz/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
$(function(){
//移动端导航切换动画
var ms_nav = $('.ms-sl-navBox');
var _tjpy = $('.sl-tjpt');
$('.sm-nav-btn').on('click',function(){
  ms_nav.toggleClass('ms-sl-navBox_show');
  _tjpy.toggleClass('sl-tjpt_right');
});

//移动端搜索框焦点时状态
$('.search input').focus(function(){
  $(this).prev().css('left','5px');
});
$('.search input').blur(function(){
  $(this).prev().css('left','65px');
});

//导航二级菜单展开
$('.sl-header3 .Nav .column').hover(function(){
  $(this).children('.subnav-b').stop(true,false).slideDown();
},function(){
  $(this).children('.subnav-b').stop(true,false).slideUp();
});
$('.ms-sl-navBox .Nav .column').hover(function(){
  $(this).children('.subnav-b').stop(true,false).slideDown();
},function(){
  $(this).children('.subnav-b').stop(true,false).slideUp();
});

//会员机构
var _member = $('.member ul');
$.ajax({
  type:'get',
  url:'http://192.168.0.113:3000/list.json',
  data:null,
  success:function(_json){
    for(var i =0; _json.length >i; i++){
      _member.append('<li><a href="'+_json[i].mbLink+'" target="_blank">'+_json[i].name+'</a></li>');
    }
  },
   error:function(err){
    console.log(err);
  }

})
</script>
{template "content","footer"}