<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>北京国际摄影周</title>

    <link href="{CSS_PATH}syz/css/clear.css" rel="stylesheet">
    <link href="{CSS_PATH}syz/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}syz/css/idangerous.swiper.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}syz/css/lytebox.css">
    <link href="{CSS_PATH}syz/css/syzStyle.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{CSS_PATH}syz/bootstrap/js/html5shiv.min.js"></script>
    <script src="{CSS_PATH}syz/bootstrap/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="ms-hidden">
    <!-- 导航 -->

    <!-- 移动端 -->
    <div class="ms-sl-navBox">
        <ul class="Nav clearfix">
            <li class="one">
                <div class="column">
                    <a class="link" href="javascript:void(0);">首页</a>
                </div>
            </li>

            <li>
                <div class="column">
                    <a class="link status" href="javascript:void(0);">开幕活动</a>
                    <div class="subnav-b clearfix">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">系列展览</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">摄影讲堂</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>

            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">摄影市场</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">特约活动</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">分会场</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">新闻公告</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">关于</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="column">
                    <a class="link" href="javascript:void(0);">联络</a>
                    <div class="subnav-b">
                        <ul class="subnav clearfix">
                            <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                            <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                            <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                            <li><a href="javascript:void(0);">大事记</a><label></label></li>
                            <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                            <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>




    <!-- pc端 -->
    <!--move-content-box 必须包含 sl-header2 bjgjsyz-*（主要内容区）-->
    <div class="move-content-box move-content-on">

        <!-- 页头导航2 -->
        <div class="sl-header2">

            <div class="onelayer container clearfix">
                <!-- 移动端 导航按钮 -->
                <div class="sm-nav-btn clearfix">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <!-- logo 选择语言 -->
                <div class="logo-tit clearfix">
                    <a href="javascript:void(0);"><img class="logo" src="{IMG_PATH}syz/images/sl_show_logo.jpg"></a>

                </div>
                <!-- 搜索 -->
                <div class="search">
                    <a class="search-btn" href="{APP_PATH}index.php?m=search&c=index&a=init&typeid=&siteid=1"><img src="{IMG_PATH}syz/images/sl_bjgjsyz_search.png"></a>
                    <input type="" name="q" placeholder="搜索...">
                </div>
                <!-- 注册 登录 -->
                <div class="land">
                    <div class="land-on"></div>
                    <div class="land-off">
                        <img src="{IMG_PATH}syz/images/sl_show_dl.png">
                        <a href="{APP_PATH}index.php?m=member&c=index&a=register&catid={$catid}">注册</a>&nbsp;/&nbsp;<a href="javascript:void(0);">登录</a>
                        <div class="logo-tit clearfix">
                            <a class="language" href="javascript:void(0);">EN</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 导航 -->
            <div class="menuBG">
                <div class="container">
                    <div class="NavBox pc-nav">
                        <ul class="Nav clearfix">
                            <li class="one">
                                <div class="column">
                                    <a class="link" href="{siteurl($siteid)}">首页</a>
                                </div>
                            </li>
                            {pc:get sql="select * from syz_category where siteid = $siteid and parentid=0 and ismenu=1
                            order
                            by listorder asc" num="9"}
                            {loop $data $v}
                            <li>
                                <div class="column">
                                    <a class="link {if $v[catid] == $catid || $v[catid] == $parentid || $v[catid] == $top_parendid }status{/if}"
                                       href="{$v[url]}">{$v[catname]}</a>
                                    <div class="subnav-b">
                                        {pc:get sql="select * from syz_category where parentid = $v[catid] and ismenu=1
                                        order by listorder asc "}
                                        {if $data != ''}
                                        <ul class="subnav clearfix">
                                            {loop $data $val}
                                            <li><a href="{$val[url]}">{$val[catname]}</a><label></label></li>
                                            {/loop}
                                        </ul>
                                        {/if}
                                        {/pc}

                                    </div>
                                </div>
                            </li>
                            {/loop}
                            {/pc}

                        </ul>
                    </div>
                </div>
            </div>

        </div>
