{template "content","header"}


<!-- 新版首页 -->
<div class="bjgjsyz">
  <div class="container-fluid">

    <!-- 新闻轮播 -->
    <div class="JournalismBox col-md-7">
      <div class="Journalism">
        <div class="wrapper">
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl_bjgjsyz_xinwenimg.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl_bjgjsyz_xinwenimg.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl_bjgjsyz_xinwenimg.jpg">
          </div>
        </div>
      </div>
        <div class="pagination"></div>
      <a class="arrow arrow-left" href="javascript:void(0);"></a>
      <a class="arrow arrow-right" href="javascript:void(0);"></a>
    </div>
    <div class="introduce col-md-5">
      <div class="txtBox">
        <h3 class="tit-h3">摄影：本来与未来</h3>
        <p class="subtitle">第五届北京国际摄影周主题阐释</p>
        <label class="line"></label>
        <p class="abstract">本来，摄影是人类的一种梦想，梦想以影像方式纪录自己的观看和活动。这一梦想的诞生，经过了几千年；而在178年前实现这一梦想，就如同漫漫长夜之后的破晓，“雄鸡一唱天下白”...</p>
        <a class="more" href="javascript:void(0);">more</a>
      </div>
    </div>
      
  </div>
  <div class="container">

  <!-- 主办单位 -->
  <div class="con2 row">
    <div class="Company col-md-3">
      <ul class="clearfix">
        <li class="tit-li">主办单位</li>
        <li><a class="txt" href="javascript:void(0);">中华人民共和国文化部</a></li>
        <li><a class="txt" href="javascript:void(0);">北京市人民政府</a></li>
      </ul>
      <ul class="clearfix">
        <li class="tit-li">承办单位</li>
        <li><a class="txt" href="javascript:void(0);">中国艺术摄影学会</a></li>
        <li><a class="txt" href="javascript:void(0);">中国摄影家协会</a></li>
        <li><a class="txt" href="javascript:void(0);">新华通讯社图片中心</a></li>
        <li><a class="txt" href="javascript:void(0);">北京歌华文化发展集团</a></li>
      </ul>
      <ul class="clearfix">
        <li class="tit-li">执行单位</li>
        <li><a class="txt" href="">中华世纪坛艺术馆</a></li>
      </ul>
    </div>
    <div class="tjpt col-md-9">
      <img class="cover-img" src="{IMG_PATH}syz/images/sl-bjgjsyz-tjpt-bg.jpg">
      <div class="tjpt-link">
        <img class="Small-logo" src="{IMG_PATH}syz/images/sl_bjgjsyz_SmallLogo.png">
        <h2 class="tit-h2">PHOTO BEIJING 2017</h2>
        <h3 class="tit-h3">专题摄影展推介平台</h3>
        <p class="text">北/京/国/际/摄/影/周</p>
        <a class="more" href="javascript:void(0);">MORE</a>
      </div>
    </div>
  </div>

  <!-- 最新资讯 -->
  <div class="con3 row">
    <div class="news-video col-md-5">
      <div class="cover">
        <img class="pic" src="{IMG_PATH}syz/images/sl-bjgjsyz-img4.jpg">
        <img class="play-btn" src="{IMG_PATH}syz/images/sl-play2.png">
      </div>
      <a class="video" href="javascript:void(0);">http://zt.bjwmb.gov.cn/2017/hjbyllgcwmcq0426/video/bjbybjdl.mp4</a>
    </div>
    <div class="news col-md-7">
      <div class="clearfix">
        <h4 class="tit-h4">最新资讯</h4>
        <p class="tit-eg">NEWS</p>
        <a class="more" href="javascript:void(0);">更多</a>
      </div>
      <div class="news-list">
        <ul>
          <li>
            <a href="javascript:void(0);"><h5 class="tit-h5">名家月月谈：于云天的洪荒世界</h5></a>
            <p class="tiem">2017-03-16</p>
            <p class="txt">于老师认为：创作需要独思，需要甘守寂寞，需要全身心地投入，才能领悟到自然界充盈于天地间的 浩然之气和某种和谐。这就是他为什么喜</p>
          </li>
          <li>
            <a href="javascript:void(0);"><h5 class="tit-h5">居杨：拍摄有温度的影像故事</h5></a>
            <p class="tiem">2017-03-16</p>
            <p class="txt">热爱摄影的人们通过镜头来记录生活，通过镜头来观看世界，也以此表达自己的情感和对世界的理解 我们可以通过一次次拍摄的经历...</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- 合作 -->
  <div class="con4">
    <div class="clearfix">
      <h4 class="tit-h4">合作</h4>
      <p class="tit-eg">PARTNER</p>
    </div>
    <div class="partnerBox">
      <div class="partner">
        <div class="wrapper">
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg1.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg2.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg1.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg2.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg1.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg2.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg1.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg2.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg1.jpg">
          </div>
          <div class="pic">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-hzjg2.jpg">
          </div>
        </div>
      </div>
      <a class="arrow arrow-left" href="javascript:void(0);"><img src="{IMG_PATH}syz/images/sl-left-2.png"></a>
      <a class="arrow arrow-right" href="javascript:void(0);"><img src="{IMG_PATH}syz/images/sl-right-2.png"></a>
    </div>
  </div>

  <!-- 往期回顾 -->
  <div class="con5 clearfix">
    <div class="review col-md-4">
      <div class="clearfix">
        <h4 class="tit-h4">往期回顾</h4>
        <p class="tit-eg">REVIEW</p>
      </div>
      <div class="review-list">
        <ul class="clearfix">
          <li><a href="javascript:void(0);">2016</a></li>
          <li><a href="javascript:void(0);">2015</a></li>
          <li><a href="javascript:void(0);">2014</a></li>
          <li><a href="javascript:void(0);">2013</a></li>
        </ul>
      </div>
    </div>
    <div class="contact col-md-4">
      <div class="clearfix">
        <h4 class="tit-h4">联系我们</h4>
        <p class="tit-eg">CONTACT US</p>
      </div>
      <div class="txtBox">
        <p class="txt">地址：北京市海淀区复兴路甲9号</p>
        <p class="txt">电话：（+86）10-59802222</p>
        <p class="txt">传真：（+86）10-59802095</p>
        <p class="txt">邮箱：photobeijing@gehua.com </p>
      </div>
    </div>
    <div class="QR-code col-md-4">
      <ul class="clearfix">
        <li>
          <img src="{IMG_PATH}syz/images/sl-bjgjsyz-wx.jpg">
          <p class="ggh">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-icowx.png">
            <span>关注微信</span>
          </p>
        </li>
        <li>
          <img src="{IMG_PATH}syz/images/sl-bjgjsyz-xl.jpg">
          <p class="ggh">
            <img src="{IMG_PATH}syz/images/sl-bjgjsyz-icoxl.png">
            <span>关注微博</span>
          </p>
        </li>
      </ul>
    </div>
  </div>

</div>


<!-- 页脚3 -->
<div class="sl-footer3">
  <p class="copyright">Copyright © 2016 北京国际摄影周组委会办公室 <span>All Right Reserved.</span></p>
</div>

</div>
<!-- move-content-box END -->
</div>
<!-- ms-hidden END -->


<script type="text/javascript" src="{JS_PATH}syz/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{JS_PATH}syz/js/idangerous.swiper.min.js"></script>
<script type="text/javascript" src="http://zt.bjwmb.gov.cn/2017/sl_jq/ckplayer/ckplayer.js"></script>

<script type="text/javascript">

$(function(){
  //移动端导航切换动画
  var ms_nav = $('.ms-sl-navBox');
  var _tjpy = $('.move-content-box');
  $('.sm-nav-btn').on('click',function(){
    ms_nav.toggleClass('ms-sl-navBox_show');
    _tjpy.toggleClass('move-content-off');
  });

  //移动端搜索框焦点时状态
  $('.search input').focus(function(){
    $(this).prev().css('left','5px');
  });
  $('.search input').blur(function(){
    $(this).prev().css('left','60px');
  });

  //导航二级菜单展开
  $('.sl-header2 .Nav .column').hover(function(){ console.log($(this));
    $(this).find('.subnav').stop(true,false).slideDown();
  },function(){
    $(this).find('.subnav').stop(true,false).slideUp();
  });
})

$(function(){
  //新闻轮播
  var _Journalism = $('.Journalism').swiper({
      loop: false,
      //autoplay:3500,
      effect : 'fade',
      calculateHeight : true,
      updateOnImagesReady : true,
      resizeReInit : true,
      paginationClickable:true,
      pagination : '.pagination',
      wrapperClass:'wrapper',
      slideClass:'pic'
      // onImagesReady: function(swiper){
      //   _swiper_visible.text(_Journalism.activeIndex + 1);
      //   _swiper_total.text(swiper.paginationButtons.length);
      // },
      // onSlideChangeStart:function(){
      //   _swiper_visible.text(_Journalism.activeIndex + 1);
      // }
    });
  $('.JournalismBox .arrow-left').click(function(){
    _Journalism.swipePrev();
  });
  $('.JournalismBox .arrow-right').click(function(){
    _Journalism.swipeNext();
  });
})

$(function(){
  //合作伙伴
  var win_W = $(window).width();
  var _slidesPerView =2;

  if (win_W < 768){
    _slidesPerView = 2;
  }else if( win_W > 768){
    _slidesPerView = 4;
  }
  $(window).resize(function(){
    win_W = $(this).width();
    if (win_W < 768){
      _slidesPerView = 2;
    }else if(win_W > 768){
      _slidesPerView = 4;
    }
    _partner.reInit();
  });
  var _partner = $('.partner').swiper({
      loop: false,
      autoplay:3500,
      effect : 'fade',
      calculateHeight : true,
      updateOnImagesReady : true,
      resizeReInit : true,
      paginationClickable:true,
      slidesPerView:_slidesPerView,
      slidesPerGroup:_slidesPerView,
      wrapperClass:'wrapper',
      slideClass:'pic'
    });
  $('.partnerBox .arrow-left').click(function(){
    _partner.swipePrev();
  });
  $('.partnerBox .arrow-right').click(function(){
    _partner.swipeNext();
  });

})

$(function(){
  // 视频播放
  var videoBox = $('.news-video');
  var ck_play = videoBox.children('.cover');
  var ck_video = videoBox.children('.video');
  var video_w = videoBox.children('.cover').width();
  var video_h = videoBox.children('.cover').height();

  ck_play.each(function(){
      $(this).click(function(){
          var $indexs = $(this).index('.cover');
          var _a = $(this).next();
          var _link = _a.text();

          $(this).css('display','none');

          ck_video.each(function(i){ 
              if(i == $indexs){
                  var thisID = 'vidoe' + ($indexs+1);
                  $(this).css('display','block').attr('id',thisID);
                  _video(thisID,_link);
              }
          });
      }); 
  });

  function _video(thisID,_link){
      var ck_data={
          f:_link,
          c:0,
          p:1,
          v:60,
          my_url:'http://zt.bjwmb.gov.cn/2017/sl_jq/ckplayer/ckplayer.swf'
      };

      var params={
          bgcolor:'#FFF',
          allowFullScreen:true,
          allowScriptAccess:'always',
          wmode:'transparent'
      }

      var ck_swf = 'http://zt.bjwmb.gov.cn/2017/sl_jq/ckplayer/ckplayer.swf';
      var ck_a1 = 'http://zt.bjwmb.gov.cn/2017/sl_jq/ckplayer/ckplyer_a1';

      CKobject.embedSWF(ck_swf,thisID,ck_a1,video_w,video_h,ck_data,params);
  }
})
</script>

</body>
</html>