{template "content","header"}
<!-- 页头导航2 -->
<!-- 开幕活动 -->
<div class="bjgjsyz-xwgg">

  <div class="banner-style new-edition-banner">
    <img class="pc-pic" src="{IMG_PATH}syz/images/sl-bjgjsyz-xwgg-pcbanner.jpg">
    <img class="m-pic" src="{IMG_PATH}syz/images/sl-bjgjsyz-xwgg-pcbanner.jpg">
    <div class="headline">
      <p class="tit-eg">News</p>
      <h3 class="tit-ch"><span>{$CATEGORYS[$catid][catname]}</span></h3>
      <p class="tit-i">Photo Beijing 2017</p>
    </div>
  </div>

  <div class="bjgjsyz-xwgg-main container">
    <div class="row">

      <div class="left-menu col-sm-2 col-md-1">
        <h4 class="tit-h4">{$CATEGORYS[$catid][catname]}</h4>
        <p class="tit-eg">News</p>
        <ul>

          <li><a href="javascript:void(0);">全部</a></li>

        </ul>
      </div>

      <div class="right-content col-sm-9 col-md-10 col-md-offset-1 col-sm-offset-1">
        <div class="clearfix">
          {pc:get sql="select * from syz_news where catid=$catid"}
          <ul>
            {loop $data $val}
            <li class="item">
              <div class="clearfix">
                <div class="time-box">
                  <div class="time-i clearfix">
                    <p class="tiem">{date('Y-m-d',$val['addtime'])}</p>
                    <label class="line"></label>
                  </div>
                  <a href="javascript:void(0);"><i class="details"></i></a>
                </div>
                <div class="con-box">
                  <a href="{$val[url]}"><h5 class="tit-h5">{$val[title]}</h5></a>
                  <p class="txt">老林展览专用灯采用独特的光学设计、均匀光照、高显指的芯片、合适的色温、先进的控光系统，使光“只照画、不照墙”，在视觉感官往往给</p>
                </div>
              </div>
            </li>
            {/loop}
          </ul>
          {/pc}


        </div>
      </div>

    </div>
  </div>

</div>


<!-- 工具、分享 -->
<div class="toolbar-r">
  <div class="purchase">
    <a href="<html:rewrite action='/addbuyprint'/>" class="p-p">
      <img src="{IMG_PATH}syz/images/sl_bjgjsyz_gwc.png">
      <span>我要购买</span>
    </a>
    <a href="javascript:void(0);" class="p-e">
      <img src="{IMG_PATH}syz/images/sl_bjgjsyz_wybz.png">
      <span>我要办展</span>
    </a>
  </div>
  <div class="shareBox clearfix">
    <div class="bdsharebuttonbox" data-tag="share_1">
      <a class="bds_qzone" data-cmd="qzone"></a>
      <a class="bds_tsina" data-cmd="tsina"></a>
      <a class="bds_tqq" data-cmd="tqq"></a>
      <a class="bds_weixin" data-cmd="weixin"></a>
      <a class="bds_renren" data-cmd="renren"></a>
      <a class="Top" href="javascript:void(0);"></a>
    </div>
  </div>
</div>

<script type="text/javascript" src="{JS_PATH}syz/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{JS_PATH}syz/js/idangerous.swiper.min.js"></script>

<script type="text/javascript">

$(function(){
  /*===页头导航2===*/
  $('.sl-header2 .Nav').find('.column').hover(function(){
    $(this).find('.subnav').stop(true,false).slideDown();
  },function(){
    $(this).find('.subnav').stop(true,false).slideUp();
  })

  $('.sm-nav-open').click(function(){
    $(this).toggleClass('sm-nav-open-on');
    $(this).next().toggleClass('NavBox-show');
  });

});



//配置工具、分享
var Back_top = $('.Top').hide();
$(window).scroll(function(){
  if($(this).scrollTop() <= 0){
    Back_top.fadeOut();
  }else{
    Back_top.fadeIn();
  }
});
Back_top.click(function(){
  var speed=200;//滑动的速度
  $('body,html').animate({ scrollTop: 0 }, speed);
  return false;
});
window._bd_share_config = {
   "common": {
    "bdSnsKey": {},
    "bdText": "",
    "bdMini": "2",
    "bdMiniList": false,
    "bdPic": "",
    "bdStyle": "2",
    "bdSize": "32"
  },
  "share": {}
  }
with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];

//购买、办展
$('.purchase a').eq(0).hover(function(){
  $(this).addClass('on');
},function(){
  $(this).removeClass('on');
})
$('.purchase a').eq(1).hover(function(){
  $(this).addClass('on');
},function(){
  $(this).removeClass('on');
})


</script>

{template "content","footer"}