{template "content","header"}



<!-- banner图 -->
<div class="banner-style">
  <img class="pc-pic" src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_banner.jpg">
  <img class="m-pic" src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_banner.jpg">
  <div class="container">
    <div class="leadBox">
      <div class="lead">
        <h2 class="c-tit">摄影专题展推介平台</h2>
        <a class="more" href="http://www.baidu.com">MORE</a>
        <p class="en-tit">Photo Market</p>
        <label class="bor-b"></label>
        <p class="text">摄影专题展推介平台是依托北京国际摄影周官网开发建设的集合展览、交流、推介、交易为一体的专题展内容集散中心。摄影专题展推介平台将通过全球范围征集，将优秀的摄影作品从题材、类型、技法、观念等多重角度，组织、策划、包装成多个专题展览。通过北京国际摄影周这一权威、公开、公正的国家级平台，将这些展览打造成文化内容消费产品，通过展览展示、论坛、专题推介等手段向世界范围内的，包括但不限于博物馆、美术馆、文化馆、画廊、文化交流中心、会展中心、商业中心等对文化内容产品有鉴赏、收藏和消费需求的机构、实体或个人进行集中撮合推介，最终在平台上实现深度交流和公平交易。</p>

      </div>
      <label class="curtain"></label>
    </div>
  </div>
</div>

<!-- 专题投稿 -->
<div class="bjgjsyz-zttg">
  <div class=" container">
    <div class="zttg-t">
      <h3 class="c-tit">专题投稿</h3>
      <p class="en-tit">Special</p>
    </div>
    <div class="zttg-m">
      <ul>
        <li class="row">
          <div class="pic-d col-xs-5 col-sm-4 col-md-3"><img src="{IMG_PATH}syz/images/sl_bjgjsyz_zztg_img1.jpg"></div>
          <div class=" col-xs-7 col-sm-8 col-md-9">
            <h5 class="tit-h5">第二届丝绸之路主题国际摄影展</h5>
            <p class="time">2017.05.15</p>
            <div class="txtBox">
              <p class="abstract">为策应国家“一带一路”战略构想，新华社相关部门将举办“一带一路全球行”活动，组建车队穿越我国河南、湖北、湖南、重庆、四川、甘肃、宁夏、新疆等省区，穿越丝路沿线行经吉尔吉斯斯坦、乌兹别克斯坦、土库曼斯坦、伊朗、土耳其、保加利亚、罗马尼亚、匈牙利、奥地利、捷克、德国、荷兰等12国等国家...</p>
              <a class="more-a" href="javascript:void(0);">MORE</a>
            </div>
          </div>
        </li>
        <li class="row">
          <div class="pic-d col-xs-5 col-sm-4 col-md-3"><img src="{IMG_PATH}syz/images/sl_bjgjsyz_zztg_img1.jpg"></div>
          <div class=" col-xs-7 col-sm-8 col-md-9">
            <h5 class="tit-h5">第二届丝绸之路主题国际摄影展</h5>
            <p class="time">2017.05.15</p>
            <div class="txtBox">
              <p class="abstract">为策应国家“一带一路”战略构想，新华社相关部门将举办“一带一路全球行”活动，组建车队穿越我国河南、湖北、湖南、重庆、四川、甘肃、宁夏、新疆等省区，穿越丝路沿线行经吉尔吉斯斯坦、乌兹别克斯坦、土库曼斯坦、伊朗、土耳其、保加利亚、罗马尼亚、匈牙利、奥地利、捷克、德国、荷兰等12国等国家...</p>
              <a class="more-a" href="javascript:void(0);">MORE</a>
            </div>
          </div>
        </li>
        <li class="row">
          <div class="pic-d col-xs-5 col-sm-4 col-md-3"><img src="{IMG_PATH}syz/images/sl_bjgjsyz_zztg_img1.jpg"></div>
          <div class=" col-xs-7 col-sm-8 col-md-9">
            <h5 class="tit-h5">第二届丝绸之路主题国际摄影展</h5>
            <p class="time">2017.05.15</p>
            <div class="txtBox">
              <p class="abstract">为策应国家“一带一路”战略构想，新华社相关部门将举办“一带一路全球行”活动，组建车队穿越我国河南、湖北、湖南、重庆、四川、甘肃、宁夏、新疆等省区，穿越丝路沿线行经吉尔吉斯斯坦、乌兹别克斯坦、土库曼斯坦、伊朗、土耳其、保加利亚、罗马尼亚、匈牙利、奥地利、捷克、德国、荷兰等12国等国家...</p>
              <a class="more-a" href="javascript:void(0);">MORE</a>
            </div>
          </div>
        </li>
        <li class="row">
          <div class="pic-d col-xs-5 col-sm-4 col-md-3"><img src="{IMG_PATH}syz/images/sl_bjgjsyz_zztg_img1.jpg"></div>
          <div class=" col-xs-7 col-sm-8 col-md-9">
            <h5 class="tit-h5">第二届丝绸之路主题国际摄影展</h5>
            <p class="time">2017.05.15</p>
            <div class="txtBox">
              <p class="abstract">为策应国家“一带一路”战略构想，新华社相关部门将举办“一带一路全球行”活动，组建车队穿越我国河南、湖北、湖南、重庆、四川、甘肃、宁夏、新疆等省区，穿越丝路沿线行经吉尔吉斯斯坦、乌兹别克斯坦、土库曼斯坦、伊朗、土耳其、保加利亚、罗马尼亚、匈牙利、奥地利、捷克、德国、荷兰等12国等国家...</p>
              <a class="more-a" href="javascript:void(0);">MORE</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- 分页 -->
<div class="sl-paging clearfix">
  <a class="prev on" href="javascript:void(0);">&lt;</a>
  <ul class="">
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">...</a></li>
    <li><a href="">12</a></li>
  </ul>
  <a class="next" href="javascript:void(0);">&gt;</a>
</div>

{template "content","footer"}