{template "content","header"}
<!-- 页头导航2 -->
<div class="sl-header2">
    <div class="onelayer container clearfix">
        <div class="logo-tit clearfix">
            <a href="javascript:void(0);"><img class="logo" src="{IMG_PATH}syz/images/sl_show_logo.jpg"></a>
            <a class="language" href="javascript:void(0);">EN</a>
        </div>
        <div class="search">
            <a class="search-btn" href="javascript:void(0);"><img src="{IMG_PATH}syz/images/sl_bjgjsyz_search.png"></a>
            <input type="" name="" placeholder="搜索...">
        </div>
    </div>
    <div class="menuBG">
        <div class="container">
            <div class="sm-nav-open">
                <label></label>
                <label></label>
                <label></label>
            </div>
            <div class="NavBox pc-nav">
                <div class="land">
                    <div class="land-on"></div>
                    <div class="land-off">
                        <img src="{IMG_PATH}syz/images/sl_show_dl.png">
                        <a href="javascript:void(0);">注册</a>&nbsp;/&nbsp;<a href="javascript:void(0);">登录</a>
                    </div>
                </div>
                <ul class="Nav clearfix">
                    <li class="one">
                        <div class="column">
                            <a class="link" href="javascript:void(0);">首页</a>
                        </div>
                    </li>
                    <li>
                        <div class="column">
                            <a class="link status" href="javascript:void(0);">开幕活动</a>
                            <div class="subnav-b">
                                <ul class="subnav clearfix"
                                ">
                    <li><a href="javascript:void(0);">集团简介</a><label></label></li>
                    <li><a href="javascript:void(0);">组织构架</a><label></label></li>
                    <li><a href="javascript:void(0);">领导团队</a><label></label></li>
                    <li><a href="javascript:void(0);">大事记</a><label></label></li>
                    <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
                    <li><a href="javascript:void(0);">重要报道</a><label></label></li>
                </ul>
            </div>
        </div>
        </li>
        <li>
            <div class="column">
                <a class="link" href="javascript:void(0);">系列展览</a>
                <div class="subnav-b">
                    <ul class="subnav clearfix"
                    ">
        <li><a href="javascript:void(0);">集团简介</a><label></label></li>
        <li><a href="javascript:void(0);">组织构架</a><label></label></li>
        <li><a href="javascript:void(0);">领导团队</a><label></label></li>
        <li><a href="javascript:void(0);">大事记</a><label></label></li>
        <li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
        <li><a href="javascript:void(0);">重要报道</a><label></label></li>
        </ul>
    </div>
</div>
</li>
<li>
    <div class="column">
        <a class="link" href="javascript:void(0);">摄影讲堂</a>
        <div class="subnav-b">
            <ul class="subnav clearfix"
            ">
<li><a href="javascript:void(0);">集团简介</a><label></label></li>
<li><a href="javascript:void(0);">组织构架</a><label></label></li>
<li><a href="javascript:void(0);">领导团队</a><label></label></li>
<li><a href="javascript:void(0);">大事记</a><label></label></li>
<li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
<li><a href="javascript:void(0);">重要报道</a><label></label></li>
</ul>
</div>
</div>
</li>
<li>
    <div class="column">
        <a class="link" href="javascript:void(0);">摄影市场</a>
        <div class="subnav-b">
            <ul class="subnav clearfix"
            ">
<li><a href="javascript:void(0);">集团简介</a><label></label></li>
<li><a href="javascript:void(0);">组织构架</a><label></label></li>
<li><a href="javascript:void(0);">领导团队</a><label></label></li>
<li><a href="javascript:void(0);">大事记</a><label></label></li>
<li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
<li><a href="javascript:void(0);">重要报道</a><label></label></li>
</ul>
</div>
</div>
</li>
<li>
    <div class="column">
        <a class="link" href="javascript:void(0);">特约活动</a>
        <div class="subnav-b">
            <ul class="subnav clearfix"
            ">
<li><a href="javascript:void(0);">集团简介</a><label></label></li>
<li><a href="javascript:void(0);">组织构架</a><label></label></li>
<li><a href="javascript:void(0);">领导团队</a><label></label></li>
<li><a href="javascript:void(0);">大事记</a><label></label></li>
<li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
<li><a href="javascript:void(0);">重要报道</a><label></label></li>
</ul>
</div>
</div>
</li>
<li>
    <div class="column">
        <a class="link" href="javascript:void(0);">分会场</a>
        <div class="subnav-b">
            <ul class="subnav clearfix"
            ">
<li><a href="javascript:void(0);">集团简介</a><label></label></li>
<li><a href="javascript:void(0);">组织构架</a><label></label></li>
<li><a href="javascript:void(0);">领导团队</a><label></label></li>
<li><a href="javascript:void(0);">大事记</a><label></label></li>
<li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
<li><a href="javascript:void(0);">重要报道</a><label></label></li>
</ul>
</div>
</div>
</li>
<li>
    <div class="column">
        <a class="link" href="javascript:void(0);">新闻公告</a>
        <div class="subnav-b">
            <ul class="subnav clearfix"
            ">
<li><a href="javascript:void(0);">集团简介</a><label></label></li>
<li><a href="javascript:void(0);">组织构架</a><label></label></li>
<li><a href="javascript:void(0);">领导团队</a><label></label></li>
<li><a href="javascript:void(0);">大事记</a><label></label></li>
<li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
<li><a href="javascript:void(0);">重要报道</a><label></label></li>
</ul>
</div>
</div>
</li>
<li>
    <div class="column">
        <a class="link" href="javascript:void(0);">关于</a>
        <div class="subnav-b">
            <ul class="subnav clearfix"
            ">
<li><a href="javascript:void(0);">集团简介</a><label></label></li>
<li><a href="javascript:void(0);">组织构架</a><label></label></li>
<li><a href="javascript:void(0);">领导团队</a><label></label></li>
<li><a href="javascript:void(0);">大事记</a><label></label></li>
<li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
<li><a href="javascript:void(0);">重要报道</a><label></label></li>
</ul>
</div>
</div>
</li>
<li>
    <div class="column">
        <a class="link" href="javascript:void(0);">联络</a>
        <div class="subnav-b">
            <ul class="subnav clearfix"
            ">
<li><a href="javascript:void(0);">集团简介</a><label></label></li>
<li><a href="javascript:void(0);">组织构架</a><label></label></li>
<li><a href="javascript:void(0);">领导团队</a><label></label></li>
<li><a href="javascript:void(0);">大事记</a><label></label></li>
<li><a href="javascript:void(0);">获奖荣誉</a><label></label></li>
<li><a href="javascript:void(0);">重要报道</a><label></label></li>
</ul>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>

<!-- 展览市场 详情 -->
<div class="bjgjsyz-zlsc-show">
    <div class="container">
        <p class="current-location">您的位置：<a href="javascript:void(0);">首页</a>&minus;<a href="javascript:void(0);">摄影市场</a>&minus;<a href="javascript:void(0);">展览市场</a>&minus;<a class="current" href="javascript:void(0);">详情</a></p>
        <div class="pic-main row">
            <div class="con-l col-md-7">
                <div class="">
                    <h5 class="tit-h5">角落的生命</h5>
                    <p class="txt-p">地球三极：南级、北极、第三极青藏高原三种最具代表性动物帝企鹅、北极熊、藏羚羊的繁殖。不矫饰、不片面美化野生动物、展示真实的野生动物，以及它们在恶劣环境下真实的生存状态，2016中国平遥国际摄影大展评审委员会大奖。</p>
                    <a class="more-a" href="javascript:void(0);">联系我们获取更多信息</a>
                </div>
                <div class="pic-box">
                    <div class="bigpic">
                        <div class="bigpic-wrapper">
                            <div class="pic"><a href="images/sl_bjgjsyz_zlsc_show_img1.jpg" rel="lyteshow[vacation]"
                                                title="第1张"><img
                                    src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img1.jpg"></a>
                                <p class="descriptive">111</p></div>
                            <div class="pic"><a href="images/sl_bjgjsyz_zlsc_show_img2.jpg" rel="lyteshow[vacation]"
                                                title="第2张"><img
                                    src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img2.jpg"></a>
                                <p class="descriptive">222</p></div>
                            <div class="pic"><a href="images/sl_bjgjsyz_zlsc_show_img3.jpg" rel="lyteshow[vacation]"
                                                title="第3张"><img
                                    src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img3.jpg"></a>
                                <p class="descriptive">333</p></div>
                            <div class="pic"><a href="images/sl_bjgjsyz_zlsc_show_img4.jpg" rel="lyteshow[vacation]"
                                                title="第4张"><img
                                    src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img4.jpg"></a>
                                <p class="descriptive">444</p></div>
                            <div class="pic"><a href="images/sl_bjgjsyz_zlsc_show_img5.jpg" rel="lyteshow[vacation]"
                                                title="第5张"><img
                                    src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img5.jpg"></a>
                                <p class="descriptive">555</p></div>
                        </div>
                    </div>
                    <div class="smallpic-box">
                        <div class="smallpic">
                            <div class="smallpic-wrapper">
                                <div class="item"><a href="images/sl_bjgjsyz_zlsc_show_img1.jpg"
                                                     rel="lyteshow[vacation]" title="第1张"><img
                                        src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img1.jpg"></a><label></label><i></i>
                                </div>
                                <div class="item"><a href="images/sl_bjgjsyz_zlsc_show_img2.jpg"
                                                     rel="lyteshow[vacation]" title="第2张"><img
                                        src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img2.jpg"></a><label></label><i></i>
                                </div>
                                <div class="item"><a href="images/sl_bjgjsyz_zlsc_show_img3.jpg"
                                                     rel="lyteshow[vacation]" title="第3张"><img
                                        src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img3.jpg"></a><label></label><i></i>
                                </div>
                                <div class="item"><a href="images/sl_bjgjsyz_zlsc_show_img4.jpg"
                                                     rel="lyteshow[vacation]" title="第4张"><img
                                        src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img4.jpg"></a><label></label><i></i>
                                </div>
                                <div class="item"><a href="images/sl_bjgjsyz_zlsc_show_img5.jpg"
                                                     rel="lyteshow[vacation]" title="第5张"><img
                                        src="{IMG_PATH}syz/images/sl_bjgjsyz_zlsc_show_img5.jpg"></a><label></label><i></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left buo" href="javascript:void(0);"></a>
                    <a class="right buo" href="javascript:void(0);"></a>
                </div>
                <div class="abstract">
                    <p class="txt-p">摄影艺术家陈国平从中国出发，不辞辛苦前往南极、不丹、日本、澳洲、非洲等国家进行创作数年，只为抓拍一张鸟类精灵的照片，让大家真实看到鸟类的生存状况。</p>
                    <ul class="clearfix">
                        <li><a class="label-a" href="javascript:void(0);">动物</a></li>
                        <li><a class="label-a" href="javascript:void(0);">野生</a></li>
                        <li><a class="label-a" href="javascript:void(0);">微距</a></li>
                        <li><a class="label-a" href="javascript:void(0);">自然</a></li>
                    </ul>
                </div>
            </div>
            <div class="con-r col-md-5">
                <!-- 简介 -->
                <div class="brief">
                    <ul>
                        <li>
                            <span class="tit-s">策展人／策展机构:</span>
                            <span class="txt-s">中国艺术摄影学会</span>
                        </li>
                        <li>
                            <span class="tit-s">策展人语:</span>
                            <span class="txt-s">近十年潜心明长城拍摄与研究，用光影诠释和见证万里长城。</span>
                        </li>
                        <li>
                            <span class="tit-s">策展人／策展机构简介:</span>
                            <span class="txt-s">中国摄影家协会会员、国展铜奖、大众摄影十佳摄影师、福建省十杰摄影师、摄影作品荣获国内外 100 多个奖项。</span>
                        </li>
                        <li>
                            <span class="tit-s">摄影师简介:</span>
                            <span class="txt-s">董旭明 北京人，中国长城学会会员，中国艺术摄影学会会员，中国长城文化中心副主任,中国文物保护基金长城专项委员会委员。自上世纪80年代初,与地质遥感航测的同仁拍摄修复中的金山岭长城后，对残破长城这一题材产生了浓厚兴趣,也开启了我与古老长城的不解之缘。近十年潜心明长城拍摄与研究，用光影诠释和见证万里长城。</span>
                        </li>
                        <li>
                            <span class="tit-s">国家:</span>
                            <span class="txt-s">中国</span>
                        </li>
                        <li>
                            <span class="tit-s">展品规格:</span>
                            <span class="txt-s">GB9417-88</span>
                        </li>
                        <li>
                            <span class="tit-s">展品数量:</span>
                            <span class="txt-s">2154</span>
                        </li>
                        <li>
                            <span class="tit-s">提供方式:</span>
                            <span class="txt-s">Knowledge-Giving Approach</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 工具、分享 -->
<div class="toolbar-r">
    <div class="purchase">
        <a href="<html:rewrite action='/addbuyprint'/>" class="p-p">
            <img src="{IMG_PATH}syz/images/sl_bjgjsyz_gwc.png">
            <span>我要购买</span>
        </a>
        <a href="javascript:void(0);" class="p-e">
            <img src="{IMG_PATH}syz/images/sl_bjgjsyz_wybz.png">
            <span>我要办展</span>
        </a>
    </div>
    <div class="shareBox clearfix">
        <div class="bdsharebuttonbox" data-tag="share_1">
            <a class="bds_qzone" data-cmd="qzone"></a>
            <a class="bds_tsina" data-cmd="tsina"></a>
            <a class="bds_tqq" data-cmd="tqq"></a>
            <a class="bds_weixin" data-cmd="weixin"></a>
            <a class="bds_renren" data-cmd="renren"></a>
            <a class="Top" href="javascript:void(0);"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="{JS_PATH}syz/js/lytebox-3.22.js"></script>
<script type="text/javascript" src="{JS_PATH}syz/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{JS_PATH}syz/js/idangerous.swiper.min.js"></script>

<script type="text/javascript">
    $(function () {
        var bigpic, smallpic, abstract_txt = $('.abstract .txt-p'), pic_txt = $('.bigpic .descriptive');
        //大图

        bigpic = new Swiper('.bigpic', {
            speed: 500,
            wrapperClass: 'bigpic-wrapper',
            slideClass: 'pic',
            initialSlide: 2,
            calculateHeight: true,
            updateOnImagesReady: true,
            resizeReInit: true,
            loop: false,
            onFirstInit: function () {
                abstract_txt.text(pic_txt.eq(2).text());
            },
            onSlideChangeStart: function () {
                smallpic.swipeTo(bigpic.activeIndex);
                abstract_txt.text(pic_txt.eq(bigpic.activeIndex).text());
            }
        });
        //小图
        smallpic = new Swiper('.smallpic', {
            speed: 500,
            wrapperClass: 'smallpic-wrapper',
            slideClass: 'item',
            slideActiveClass: 'smallpic-active',
            initialSlide: 2,
            simulateTouch: false,
            calculateHeight: true,
            updateOnImagesReady: true,
            resizeReInit: true,
            loop: false
        });
        //结合
        $(".smallpic .item").on('touchstart click', function (e) {
            e.preventDefault();
            bigpic.swipeTo($(this).index());
        })

        $('.pic-box .left').click(function () {
            bigpic.swipePrev();
        });
        $('.pic-box .right').click(function () {
            bigpic.swipeNext();
        });

    });

    $(function () {
        /*===页头导航2===*/
        $('.sl-header2 .Nav').find('.column').hover(function () {
            $(this).find('.subnav').stop(true, false).slideDown();
        }, function () {
            $(this).find('.subnav').stop(true, false).slideUp();
        })

        $('.sm-nav-open').click(function () {
            $(this).toggleClass('sm-nav-open-on');
            $(this).next().toggleClass('NavBox-show');
        });
    });

    //配置工具、分享
    var Back_top = $('.Top').hide();
    $(window).scroll(function () {
        if ($(this).scrollTop() <= 0) {
            Back_top.fadeOut();
        } else {
            Back_top.fadeIn();
        }
    });
    Back_top.click(function () {
        var speed = 200;//滑动的速度
        $('body,html').animate({scrollTop: 0}, speed);
        return false;
    });
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "2",
            "bdSize": "32"
        },
        "share": {}
    }
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];

    //购买、办展
    $('.purchase a').eq(0).hover(function () {
        $(this).addClass('on');
    }, function () {
        $(this).removeClass('on');
    })
    $('.purchase a').eq(1).hover(function () {
        $(this).addClass('on');
    }, function () {
        $(this).removeClass('on');
    })

</script>

{template "content","footer"}